<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="db.SqlMapper">
  	<select id="selectEmployeeAllCount" resultType="int">
  		SELECT count(*) FROM employee
  	</select>
  	<select id="selectAllEmployee" resultType="dto.EmployeeDTO">
		SELECT * FROM employee  		
  	</select>
  	<select id="selectEmployee_positionUnder" resultType="dto.EmployeeDTO" parameterType="int">
  		<![CDATA[SELECT * FROM employee WHERE position < #{no}]]>
  	</select>
  	<select id="selectEmployee_positionArea" resultType="dto.EmployeeDTO" parameterType="Map">
  		<![CDATA[SELECT * FROM employee WHERE position >= #{start} AND position < #{end}]]>
  	</select>
</mapper>